

.subtitle {
    font-style: italic;
    font-size: small;
}

.menu-item {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 3fr;

    color: var(--white);

    border-width: 1px;
    border-color: var(--purple-dark);
    border-style: solid;
    border-radius: 0.6rem;

    width: 100%;
    align-self: stretch;
}
.menu-item__title {
    background: var(--purple-bg);
    display: grid;
    grid-template-rows: 15% 85%;
    row-gap: 0.25rem;
    justify-items: start;
    padding: 1rem 1rem 2rem 1rem;

    border-radius: 0.5rem 0 0 0.5rem;
}

.menu-item__title h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 2;

    margin: 0;
    width: 100%;
}

.menu-item__info {
    background-color: var(--white);
    color: var(--dark);

    display: grid;
    grid-template-areas: "difficulty length"
    "description description"
    "status action";
    grid-template-rows: 15% 60% 25%;

    padding: 1rem;
    row-gap: 0.25rem;
    border-radius: 0.5rem;
}

.difficulty {
    grid-area: difficulty;
    place-self: start;
    text-align: start;
}

.length {
    grid-area: length;
    text-align: end;
}

.description {
    grid-area: description;
    font-size: large;
    text-align: start;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.menu-item__action {
    place-self: end;
    grid-area: action;
}

.status {
    justify-self: start;
    align-self: center;
    grid-area: status;
    color: var(--green);
}

@media screen and (max-width: 900px) {
    .menu-item__title, .menu-item__info {
        padding: 1rem;
    }
    .menu-item__title h2 {
        font-size: 1.33rem;
        margin-bottom: 2rem;
    }
  }