.menu-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    row-gap: 8px;
    place-items: center;
    align-items: stretch;
    padding: 0 8px 0 8px;
}

@media screen and (max-width: 900px) {
    .menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }